<h1>Ready to go?</h1>
<section>
	<a routerLink="/team" class="b_button">Manage Teams</a>
	<a routerLink="/battle" class="b_button">Start battle simulation</a>
</section>
<h2>Developer tools</h2>
<section>
	<a routerLink="/i_pokemon" class="e_button">Edit internal Pokemon database</a>
	<a routerLink="/i_moves" class="e_button">Edit internal Moves database</a>
</section>
<!--
<div cdkDropList>
	<table cdkDrag>
		<div cdkDragHandle>A</div>
		<tr>
			<th>Position</th>
			<th>Species</th>
			<th>Name</th>
		</tr>
		<tr>
			<td>No.</td>
			<td>Poppo</td>
			<td>46</td>
			<td><button class="button_edit">Rename</button></td>
			<td><button class="button_edit">Move</button></td>
			<td><button class="button_delete">Release</button></td>
		</tr>
	</table>
	<table cdkDrag>
		<tr>
			<th>Position</th>
			<th>Species</th>
			<th>Name</th>
		</tr>
		<tr>
			<td>No.</td>
			<td>QP</td>
			<td>69</td>
			<td><button class="button_edit">Rename</button></td>
			<td><button class="button_edit">Move</button></td>
			<td><button class="button_delete">Release</button></td>
		</tr>
	</table>
</div>
!-->