<nav>
	<a routerLink="/main" class="nav_button">Go back</a>
	<p class="nav_p">Internal Pokemon Database</p>
</nav>
<hr>
<h2>List of all Pokemon</h2>
<h3>All entries are sorted by Dex Number</h3>
<button (click)="addPokemon()" class="button_new">Add new Pokemon</button>
<table>
	<tr>
		<th>Dex Number</th>
		<th>Species Name</th>
		<th>Type</th>
	</tr>
	<ng-container *ngIf="this.totalPokemon.length">
		<ng-container *ngFor="let numberPokemon of this.totalPokemon; let i = index">
			<tr>
				<td>{{numberPokemon.dexID}}</td>
				<td>{{numberPokemon.defaultName}}</td>
				<td>{{getType(numberPokemon)}}</td>
				<td><button (click)="editPokemon(numberPokemon)" class="button_edit">Edit</button></td>
				<td><button (click)="deletePokemon(i)" class="button_delete">Delete</button></td>
			</tr>
		</ng-container>
	</ng-container>
</table>
<button (click)="addPokemon()" class="button_new">Add new Pokemon</button>
<br>&nbsp;
