<nav>
	<a routerLink="/main" class="nav_button">Go back</a>
	<p class="nav_p">Internal Moves Database</p>
</nav>
<hr>
<h2>List of all Moves</h2>
<h3>All entries are sorted by Name</h3>
<button (click)="addMove()" class="button_new">Add new Move</button>
<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Accuracy (%)</th>
		<th>Power</th>
		<th>PP</th>
		<th>Category</th>
		<th>Type</th>
	</tr>
	<ng-container *ngIf="this.totalMove.length">
		<ng-container *ngFor="let numberMove of this.totalMove; let i = index">
			<tr>
				<td>{{numberMove.moveName}}</td>
				<td>{{numberMove.moveDescription}}</td>
				<td>{{numberMove.moveAccuracy}}</td>
				<td>{{numberMove.movePower}}</td>
				<td>{{numberMove.movePP}}</td>
				<td>{{getCategory(numberMove)}}</td>
				<td>{{getType(numberMove)}}</td>
				<td><button (click)="editMove(numberMove)" class="button_edit">Edit</button></td>
				<td><button (click)="deleteMove(i)" class="button_delete">Delete</button></td>
			</tr>
		</ng-container>
	</ng-container>
</table>
<button (click)="addMove()" class="button_new">Add new Move</button>
<br>&nbsp;
