<nav>
	<a routerLink="/main" class="nav_button">Main menu</a>
	<a routerLink="/team" class="nav_button">Go back</a>
	<p class="nav_p">{{szTitle}}</p>
</nav>
<hr>
<ng-container *ngIf="this.szTeamName.length; else NoTeamName">
	<h2>{{szTeamName}}</h2>
</ng-container>
<ng-template #NoTeamName>
	<h2>Unnamed Team</h2>
</ng-template>
<table>
	<tr>
		<th>Position</th>
		<th>Species</th>
		<th>Name</th>
	</tr>
	<ng-container *ngIf="this.playerTeam.length">
		<ng-container *ngFor="let memberNumber of this.playerTeam; let iPosition = index">
			<tr>
				<td>{{iPosition + 1}}</td>
				<td>{{memberNumber.defaultName}}</td>
				<ng-container *ngIf="memberNumber.customName.length; else NoPKMNName">
					<td>{{memberNumber.customName}}</td>
				</ng-container>
				<ng-template #NoPKMNName>
					<td>{{memberNumber.defaultName}}</td>
				</ng-template>
				<td><button (click)="renameMember(iPosition)" class="button_edit">Rename</button></td>
				<td><button (click)="moveMember(iPosition)" class="button_edit">Move</button></td>
				<td><button (click)="deleteMember(iPosition)" class="button_delete">Release</button></td>
			</tr>
		</ng-container>
	</ng-container>
</table>
<section class="team_settings">
	<button (click)="saveTeam()" class="button_new">Save</button>
	<button (click)="renameTeam()" class="button_edit">Change Team Name</button>
	<button (click)="setActive()" class="button_edit">Set Active Team</button>
</section>
<div>
	<ng-container *ngIf="this.szSaveStatus.length; else EmptySpace">
		<p>{{szSaveStatus}}</p>
	</ng-container>
	<ng-template #EmptySpace>
		<p>&nbsp;</p>
	</ng-template>
</div>
<h3>Add Pokemon</h3>
<section class="add_to_team">
	<form [formGroup]="ddPokemonList_Form" (ngSubmit)="addMember(pokemonName.value); pokemonName.value=''">
		<label for="ddPokemonList_Orders">Name:
			<select formControlName="ddPokemonList_Orders" id="ddPokemonList_Orders" #pokemonName>
				<option *ngFor="let order of ddPokemonList_Orders; let i = index">
					{{ddPokemonList_Orders[i]}}
				</option>
			</select>
		</label>
		<button class="button_new">Add</button>
	</form>
</section>
<div>
	<ng-container *ngIf="this.szMessage.length; else EmptySpace">
		<p>{{szMessage}}</p>
	</ng-container>
	<ng-template #EmptySpace>
		<p>&nbsp;</p>
	</ng-template>
</div>
